<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>Consultoria</span>
      <h1>A consultoria que você busca para seu software.</h1>
    </div>
    <img ngSrc="/assets/main-image.jpg" width="669" height="536">
  </section>

  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        95% das <br />
        empresas
      </h2>

    </div>
    <p>não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisiões.</p>
  </section>
  <section class="cta-section">
    <btn-primary btn-text="Entre em contato conosco"></btn-primary>
  </section>

  <app-form></app-form>
  <section class="benefit-section pad-70">
    <app-benefits card-title="Equipe capacitada" img-path="/assets/team.jpg"
      card-description="Foto de Annie Spratt. Uso gratuito sob a Licença da Unsplash">

    </app-benefits>
    <app-benefits card-title="Seus projetos guiados desde a criação" img-path="/assets/recept.jpg"
      card-description="Foto de Mimi Thian. Uso gratuito sob a Licença da Unsplash">

    </app-benefits>
  </section>

  <section class="cta-section pad-70">
    <h2>Quer elevar seu software e seus<br />
      negócios para outro nível?</h2>
    <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
  </section>
  <app-footer></app-footer>
</main>
