<section class="form-section">
  <div class="text">
    <h3>
      Fique por dentro de tendências
    </h3>

    <p>
      Envie seu nome e e-mail para entrar em contato conosco. Seja para tirar alguma dúvida ou solicitar algum serviço.
      Estaremos disponíveis para tratar sobre esses assuntos.
    </p>
  </div>

  <form [formGroup]="appForm">
    <label for="name">Nome</label>
    <input id="name" type="text" formControlName="name">
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email">
    <btn-primary btn-text="ENVIAR" variant="secondary" (submit)="submit()" [disabled]="!appForm.valid"></btn-primary>
  </form>



</section>
